.search,
.search-result {
    width: var(--search-width);
}
.search {
    position: relative;
    height: var(--search-height);
    background-color: var(--search-background-color);
    border-radius: var(--search-border-radius);
    padding-left: 16px;
    display: flex;
    align-items: center;
    border: 1.5px solid transparent;

    input {
        flex: 1;
        font-size: var(--font-size-16px);
        font-family: var(--font-family);
        height: var(--search-height);
        color: var(--black);
        background-color: transparent;
        caret-color: rgba(254, 44, 85, 1);
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }

    &::after {
        position: absolute;
        content: '';
        top: 8px;
        right: var(--search-btn-width);
        width: 1px;
        height: calc(var(--search-height) - 20px);
        background-color: rgba(22, 24, 35, 0.12);
    }
    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }
    .clear,
    .loading {
        position: absolute;
        right: calc(var(--search-btn-width) + 16px);
        top: 50%;
        transform: translateY(-50%);
        color: rgba(22, 24, 35, 0.34);
    }

    .loading {
        animation: spinner 0.5s linear infinite;
    }

    @keyframes spinner {
        from {
            transform: translateY(-50%) rotate(0);
        }
        to {
            transform: translateY(-50%) rotate(360deg);
        }
    }
}

.search-title {
    padding: 5px 12px;
    color: rgba(22, 24, 35, 1);
    font-size: 1.6rem;
    font-weight: 400;
}

.search-btn {
    font-size: 1.6rem;
    width: var(--search-btn-width);
    height: 100%;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    color: rgba(22, 24, 35, 0.34);

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
        cursor: pointer;
    }
    &:active {
        background-color: var(--search-background-color);
    }
}
