.wrapper {
    --search-width: 360px;
    --search-height: 46px;
    --search-background-color: rgba(22, 24, 35, 0.06);
    --search-border-radius: 92px;
    --search-btn-width: 52px;

    --font-size-16px: 1.6rem;

    width: 100%;
    height: var(--default-layout-header-height, 60px);
    box-shadow: 0px 1px 1px rgb(0 0 0 /12%);
    display: flex;
    justify-content: center;
}
.inner {
    padding: 0 var(--default-layout-horizontal-spacer);
    height: 100%;
    width: var(--default-layout-width, 1150px);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.search, 
.search-result {
    width: var(--search-width);
} 
.search {
    position: relative;
    height: var(--search-height);
    background-color: var(--search-background-color);
    border-radius: var(--search-border-radius);
    padding-left: 16px;
    display: flex;
    border: 1.5px solid transparent;

    input {
        flex: 1;
        font-size: var(--font-size-16px);
        height: 100%;
        color: rgba(22, 24, 35, 1);
        background-color: transparent;
        caret-color: rgba(254, 44, 85, 1);
    }

    &:after {
        position: absolute;
        content: '';
        top: 9px;
        right: var(--search-btn-width);
        width: 1px;
        height: calc(var(--search-height) - 18px);
        background-color: rgba(22, 24, 35, 0.12);
    }
    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }
    .close {
        font-size: 1.6rem;
        color: rgba(22, 24, 35, 0.34);;
        margin-right: calc( (var(--search-btn-width))/4 );
        line-height: var(--search-height);
    }
}

.search-btn {
    font-size: 1.6rem;
    width: var(--search-btn-width);
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);

    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
        cursor: pointer;
    }
    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}
.search-title {
    padding: 5px 12px;
    color: #16182380;
    font-size: 1.4rem;
    font-weight: 600;
}

.more-btn {
    margin: 0 10px;
    padding: 10px 8px;
    font-size: 1.6rem;
    background-color: transparent;

}
// .action {
// }
